.header {
  color: white;
  background-color: rgb(213, 59, 71);
  padding-top: 20px;
}

.backArrow {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 30px;
  border-top: 15px;
}

.pokemonTitle {
  padding-top: 15px;
  font-weight: 500;
}

.pokemonNum {
  padding-top: 15px;
  text-align: end;
  font-weight: 500;
}

/* ------------ Header ends -------------- */

.img {
  height: 400px; /* skeleton bootrap pending */
  background-color: rgb(213, 59, 71);
  border-radius: 10%;
  height: 300px;
  width:300px;
}

.imageBackground {
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 59, 71);
  height: 300px;
  align-items: center;
}

.content2 {
  margin-top: -55px;
  background-color: rgb(43, 41, 44);
  z-index: -1;
  padding-top: 75px;
  color: white;

}

.name {
  text-align: center;
  font-size: 25px;
}

.blurbText1 {
  background-color: blue;
  width: max-content;
  padding: 5px 50px 5px 50px;
  border-radius: 25px;
}

.blurbText2 {
  background-color: red;
  width: max-content;
  padding: 5px 50px 5px 50px;
  border-radius: 25px;
}

.abilities {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
  margin-bottom: 30px;

}

.characteristics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.text1 {
  font-size: 20px;
}

.text2 {
  color: grey;
  text-align: center;
  padding-top: 10px;
}

