.marginFix {
  margin: auto;
}

.cardRadius {
  border-radius: 10px;
}

.pokemonCards {
 width: 10rem;
  // @media (min-width: 420px) {
  //   width: 20rem;
  // } (esto es sass)
}


@media (min-width: 420px) {
  .pokemonCards {
    width: 15rem;
  }
}
