.card {
  height: 192px;
}

.marginFix {
  margin: auto;
}

.cardRadius {
  border-radius: 10px;
}

.pokemonCards {
 width: 75%;
}


@media (min-width: 420px) {
  .pokemonCards {
    width: 15rem;
  }
}
