.content2 {
  background-color: rgb(43, 41, 44);
  color: white;
  margin-top: 0px;
  padding-top: 25px;
}

.name {
  text-align: center;
  font-size: 25px;
}

.blurbText {
  background-color: rgb(34, 34, 34);
  width: max-content;
  min-width: 150px;
  text-align: center;
  padding: 6px 50px 8px 50px;
  border-radius: 25px;
  border: solid 1px darkgrey;

  @media (min-width: 420px) {
    width: 200px;
  }
}

.abilities {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.characteristics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.text1 {
  font-size: 20px;
}

.text2 {
  color: grey;
  text-align: center;
  padding-top: 10px;
}
