<div class="content2">

  <div class="d-flex justify-content-center">
    <ngx-skeleton-loader
      *ngIf="!name"
      count="1"
      animation="progress-dark"
      [theme]="{
        'border-radius': '10px',
        height: '30px',
        width: '150px',
        display: 'flex'
      }"
    >
    </ngx-skeleton-loader>
  </div>

  <div class="d-flex justify-content-center abilities__skeleton">
    <ngx-skeleton-loader
      *ngIf="abilities.length == 0"
      count="1"
      animation="progress-dark"
      [theme]="{
        'border-radius': '25px',
        height: '40px',
        width: '200px'
      }"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      *ngIf="abilities.length == 0"
      count="1"
      animation="progress-dark"
      [theme]="{
        'border-radius': '25px',
        height: '40px',
        width: '200px'
      }"
    >
    </ngx-skeleton-loader>
  </div>

  <div class="d-flex justify-content-center abilities__skeletonWeightHeight">
    <ngx-skeleton-loader
      *ngIf="weight == 0 && height == 0"
      count="1"
      animation="progress-dark"
      [theme]="{
        'border-radius': '15px',
        height: '60px',
        width: '70px'
      }"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      *ngIf="weight == 0 && height == 0"
      count="1"
      animation="progress-dark"
      [theme]="{
        'border-radius': '15px',
        height: '60px',
        width: '70px'
      }"
    >
    </ngx-skeleton-loader>
  </div>



  <div class="name">
    <strong>{{name}}</strong>
  </div>

  <div class="abilities flex-wrap">
    <div class="blurbText"
      *ngFor=" let i of abilities"
    >
      {{i.ability.name}}
    </div>
  </div>

  <div class="characteristics">
    <div *ngIf="weight != 0 && height != 0">
      <div class="text1">{{weight}}.0 KG</div>
      <!--pipe convertir a decimal-->
      <div class="text2">Weight</div>
    </div>
    <div *ngIf="weight != 0 && height != 0">
      <div class="text1">{{height}}.0 M</div>
      <!--pipe convertir a decimal-->
      <div class="text2">Height</div>
    </div>
  </div>

</div>

