<div class="mainBackground">
  <div class="container stat__container">

    <ngx-skeleton-loader
      *ngIf="listStats == null"
      count="5"
      animation="progress-dark"
      [theme]="{
        'border-radius': '10px',
        height: '15px',
        width: 'max-width'
      }"
    >
    </ngx-skeleton-loader>

    <div class="statsTitle">
      Base Stats
    </div>

    <div class="item" *ngFor=" let variableThatCanChange of stats">
      <p [innerHTML]='formatStat(variableThatCanChange.stat.name)' class="statName"></p>
      <div class="progress">
        <div
        [ngClass]="formatStatColor(variableThatCanChange.stat.name)"
        role="progressbar"
        aria-label="Basic example"
        [style.width]="variableThatCanChange.base_stat + '%'"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100">
        {{variableThatCanChange.base_stat + '%'}}
        </div>
      </div>
    </div>

  </div>
</div>
