.statsContainer {
  background-color: rgb(43, 41, 44);
  color: white;
  height: 200px;
}

.statsTitle {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: white;
  background-color: grey;
}

.progress {
  width: 80%;
  margin: 5px auto;
}

.item {
  display: flex;
  width: 90%;
  margin: auto;
}

.statName {
  margin-bottom: 5px;
}
