<div class="statsTitle">
  Base Stats
</div>

<div class="statsContainer">
  <div class="item">
    <p class="statName">HP</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="item">
    <p class="statName">ATK</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="item">
    <p class="statName">DEF</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="item">
    <p class="statName">SPD</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 90%" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
