<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5 mb-4">
      <label for="exampleDataList" class="form-label">Search</label>
      <input
        class="form-control"
        id="exampleDataList"
        placeholder="Type to search..."
        [value]="textFilter"
        type="search">
    </div>
    <form [formGroup]="checkoutForm">

      <button class="button" type="submit">Purchase</button>

    </form>
    <p>{{textFilter}}</p>
  </div>
</div>


