.pokedex {
  background-color: rgb(43, 41, 44);
}

#title {
  font-family: 'Courier New', Courier, monospace;
}

.pagination-div {
  flex-direction: column-reverse;
}

:host >>> ngx-skeleton-loader .skeleton-loader {
  border-radius: 5px;
  height: 50px;
  background-color: #992929;
  border: 1px solid white;
}