<p id="title">pokedex nuevo</p>
<app-filter (consultaEvent)="busqueda($event)"></app-filter>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
      <div class="list-group">
        <a
        [routerLink]="['/detalle', getId(pokemon)]"
        class="list-group-item list-group-item-action"
        *ngFor=" let pokemon of pokemons ">
        {{ pokemon.name }}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="pagination-div" *ngIf="pokemons.length == backupPokemons.length">
  <nav aria-label="...">
    <ul class="pagination pagination justify-content-center">
      <li class="page-item"
        [class.disabled]="previous === null"
        (click)="changePage('previous')">
        <a class="page-link">Previous</a>
      </li>
      <li
        class="page-item"
        [class.disabled]="next === null"
        (click)="changePage('next')">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
