.lowestLayerBackground {
  background-color: rgb(213, 59, 71);}

.header {
  color: white;
  background-color: rgb(213, 59, 71);
  padding-top: 20px;
}

.backArrow {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 30px;
  border-top: 15px;
}

.pokemonTitle {
  padding-top: 15px;
  font-weight: 500;
}

.pokemonNum {
  padding-top: 15px;
  text-align: end;
  font-weight: 500;
}
